# Compiler files
/smart-contracts/cache/
/smart-contracts/out/

# Ignores development broadcast logs
/smart-contracts/broadcast/
/smart-contracts/broadcast/**/*.json

# Docs
/smart-contracts/docs/

# Dotenv file
.env

# Build Files
/smart-contracts/bin/

# Lib (Dependencies)
/smart-contracts/lib/


## Frontend Files

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js
frontend/.yarn/install-state.gz

# testing
frontend/coverage

# next.js
frontend/.next/
frontend/out/

# production
frontend/build

# misc
frontend/.DS_Store
frontend/*.pem

# debug
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# local env files
frontend/.env*.local

# vercel
frontend/.vercel

# typescript
frontend/*.tsbuildinfo
frontend/next-env.d.ts
