# Compiler files
/smart-contracts/cache/
/smart-contracts/out/

# Ignores development broadcast logs
/smart-contracts/broadcast/
/smart-contracts/broadcast/**/*.json

# Docs
/smart-contracts/docs/

# Dotenv file
.env

# Build Files
/smart-contracts/bin/

# Lib (Dependencies)
/smart-contracts/lib/
